@font-face {
  font-family: poppins-bold;
  src: url(./fonts/Poppins-Bold.ttf);
}

@font-face {
  font-family: poppins-medium;
  src: url(./fonts/Poppins-Medium.ttf);
}

@font-face {
  font-family: poppins-regular;
  src: url(./fonts/Poppins-Regular.ttf);
}

@font-face {
  font-family: poppins-light;
  src: url(./fonts/Poppins-Light.ttf);
}

body {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  position: fixed;
  overflow: hidden;

  display: flex;
  flex-direction: column;

  font-family: poppins-light;
  background-size: 1500px 100vh;
  background-attachment: fixed;
}

body[data-condition='sunny'] {
  background-image: url(./images/sunny.jpg);
}

body[data-condition='clear'] {
  background-image: url(./images/clear.jpg);
}

body[data-condition='cloudy'] {
  background-image: url(./images/cloudy.jpg);
}

body[data-condition='rain'] {
  background-image: url(./images/rain.jpg);
  background-size: 1500px 180vh;
}

body[data-condition='snow'] {
  background-image: url(./images/snow.jpg);
}

body[data-condition='thunder'] {
  background-image: url(./images/thunder.jpg);
}

form {
  align-self: flex-end;
  padding: 20px;

  input {
    width: 200px;
    border: 1px solid white;
    border-radius: 5px;
    background-color: rgba(0 0 0 / 0.4);
    color: white;
  }

  input, button {
    box-sizing: border-box;
    height: 32px;
    font-family: poppins-regular;
  }
}

button {
  appearance: none;
  outline: none;
  border: none;
  border-radius: 4px;
  background-color: rgba(0 0 0 / 0.4);
  color: white;
}

button:hover {
  cursor: pointer;
}

#temperature-unit-button {
  flex-grow: 0;
  align-self: flex-end;
  margin-top: -8px;
  margin-right: 20px;
  width: 36px;
  height: 32px;
  font-size: 1.2rem;
  font-family: poppins-medium;
  display: flex;
  justify-content: center;
}

#info-container {
  width: 370px;
  margin-top: 64px;
  align-self: center;
  padding: 20px 0 20px 24px;
  border-radius: 15px;
  display: grid;
  grid-template: 24px 96px repeat(3, 36px) / 96px 240px;
  column-gap: 28px;
  align-items: center;
  font-size: 1.1rem;
  background-color: rgba(0 0 0 / 0.7);
  color: white;

  #city {
    grid-area: 2 / 1 / span 1 / span 2;
    font-size: 1.6rem;
    font-family: poppins-medium;
    padding-bottom: 14px;
  }

  #temperature {
    grid-area: 3 / 1 / span 3 / span 1;
    font-size: 4rem;
    font-family: poppins-bold;

    .temperature-unit {
      font-size: 1.2rem;
      vertical-align: text-top;
    }
  }

  #condition {
    grid-area: 1 / 1 / span 1 / span 2;
    font-size: 1.4rem;
    font-family: poppins-regular;
  }
}